body {
  overflow-x: hidden;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#historyDiv {
  height: 54vh;
}

.tableTitle th {
  background-color: #6a7177;
  margin-top: 10px;
  text-align: center;
  font-size: 40px;
}

#varTxt h3,
#emptyTable {
  padding: 50px;
  font-size: 20px;
  text-align: center;
}
